# Python / Django
__pycache__/
*.py[cod]
*.pyo
.venv/
.env
.env.*

# Django / DB
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
dist-ssr/
coverage/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
